# CSV Data Generator in SQL and Python
Wolfrank Guzman : @guzmanwolfrank//github

Program Description:  Here we use SQLITE, FAKER and Pandas to generate a CSV Data sheet to use for the project.

In [5]:
import sqlite3
import pandas as pd
import os
from faker import Faker
from random import randint, choice
from datetime import datetime

# Initialize Faker
fake = Faker()

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('transactions.db')
cursor = conn.cursor()

# Create the Transactions table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Transactions (
    Date TEXT,
    Time TEXT,
    User TEXT,
    UserID INTEGER,
    Server_Location TEXT,
    Input_Type TEXT,
    Balance REAL,
    Amount_Transaction REAL,
    Fees REAL,
    API_Group TEXT,
    Previous_Amount REAL,
    Final_Balance REAL,
    Account_Status TEXT,
    Transaction_Status TEXT,
    Error_Code INTEGER
);
''')

# Define possible values for columns
server_locations = ['Region 1', 'Region 2', 'Region 3', 'Region 4', 'Region 5', 'Region 6', 'Region 7']
input_types = ['ATM', 'Mobile_Phone', 'Mobile_Tablet', 'PC', 'Register']
users = ['Bank', 'Retail', 'Vendor', 'ECommerce', 'Crypto_Account']
api_groups = ['Delivery', 'Crypto', 'Wirehouse', 'Retail', 'Customer']
account_statuses = ['Suspended', 'Active', 'Flag']
transaction_statuses = ['Approved', 'Denied']
error_codes = list(range(101, 111))

# Function to generate random transactions
def generate_random_transaction():
    date = datetime.now().strftime('%Y-%m-%d')
    time = datetime.now().strftime('%H:%M:%S')
    user = choice(users)
    user_id = randint(1000, 9999)
    server_location = choice(server_locations)
    input_type = choice(input_types)
    balance = round(randint(24000, 45000000), 2)
    amount_transaction = round(randint(100, 50000), 2)
    fees = round(amount_transaction * 0.01, 2)
    api_group = choice(api_groups)
    previous_amount = round(balance - amount_transaction, 2)
    final_balance = round(balance - amount_transaction - fees, 2)
    account_status = choice(account_statuses)
    transaction_status = choice(transaction_statuses)
    error_code = choice(error_codes)
    return (date, time, user, user_id, server_location, input_type, balance, amount_transaction, fees, api_group, previous_amount, final_balance, account_status, transaction_status, error_code)

# Insert random transactions into the Transactions table
for _ in range(100):  # Generating 100 random transactions
    cursor.execute('''
    INSERT INTO Transactions (Date, Time, User, UserID, Server_Location, Input_Type, Balance, Amount_Transaction, Fees, API_Group, Previous_Amount, Final_Balance, Account_Status, Transaction_Status, Error_Code)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', generate_random_transaction())

# Commit the transaction
conn.commit()

# Query to fetch all data from the Transactions table
cursor.execute("SELECT * FROM Transactions")
rows = cursor.fetchall()

# Column names
column_names = [description[0] for description in cursor.description]

# Convert to DataFrame
df = pd.DataFrame(rows, columns=column_names)

# CSV file path
csv_file_path = os.path.join(os.getcwd(), 'transactions.csv')

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

# Close the cursor and connection
cursor.close()
conn.close()

print(f"The CSV file has been saved to {csv_file_path}")

display(df)

The CSV file has been saved to c:\Users\Wolfrank\Desktop\Snowflake-Python-SnowflakeSQL\transactions.csv

,Date,Time,User,UserID,Server_Location,Input_Type,Balance,Amount_Transaction,Fees,API_Group,Previous_Amount,Final_Balance,Account_Status,Transaction_Status,Error_Code
0,2024-05-23,19:39:00,Retail,9045,Region 2,Register,11384486.0,47872.0,478.72,Delivery,11336614.0,11336135.28,Suspended,Approved,110
1,2024-05-23,19:39:00,Bank,8487,Region 7,Mobile_Tablet,35555536.0,42737.0,427.37,Delivery,35512799.0,35512371.63,Active,Approved,110
2,2024-05-23,19:39:00,Retail,1735,Region 1,Mobile_Phone,5395256.0,46177.0,461.77,Delivery,5349079.0,5348617.23,Flag,Approved,103
3,2024-05-23,19:39:00,Crypto_Account,1593,Region 1,Mobile_Tablet,31572764.0,37920.0,379.20,Wirehouse,31534844.0,31534464.80,Suspended,Approved,109
4,2024-05-23,19:39:00,Vendor,2702,Region 2,ATM,31745525.0,7841.0,78.41,Retail,31737684.0,31737605.59,Suspended,Denied,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2024-05-23,19:49:18,Vendor,5816,Region 1,ATM,3257381.0,41394.0,413.94,Delivery,3215987.0,3215573.06,Suspended,Approved,104
296,2024-05-23,19:49:18,Bank,2460,Region 3,Register,12966027.0,16316.0,163.16,Wirehouse,12949711.0,12949547.84,Suspended,Approved,106
297,2024-05-23,19:49:18,Bank,1347,Region 6,Mobile_Phone,10601643.0,3219.0,32.19,Wirehouse,10598424.0,10598391.81,Suspended,Denied,108
298,2024-05-23,19:49:18,ECommerce,1888,Region 2,Mobile_Phone,26243916.0,28467.0,284.67,Wirehouse,26215449.0,26215164.33,Suspended,Approved,109
299,2024-05-23,19:49:18,Crypto_Account,9254,Region 1,ATM,11130361.0,24000.0,240.00,Delivery,11106361.0,11106121.00,Suspended,Denied,101